.container{
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    height: 450px;
    width: 200px;
    border-radius: 100px;
    border: 10px solid black;
    margin: auto;
    margin-top: 100px;
}
#demo{
    display : block;
}
#red{
    position: absolute;
    background-color: red;
    box-shadow: 0 0 50px 5px red;
    border: 5px solid black;
    height: 100px;
    width: 100px;
    border-radius: 4rem;
    margin-left: 45px;
    margin-top: 25%;
}
#yellow{
    position: absolute;
    background-color: black;
    box-shadow: 0 0 50px 5px yellow;
    border: 5px solid black;
    height: 100px;
    width: 100px;
    border-radius: 4rem;
    margin-left: 45px;
    margin-top: 88%;
}
#green{
    position: absolute;
    background-color: black;
    box-shadow: 0 0 50px 5px green;
    border: 5px solid black;
    height: 100px;
    width: 100px;
    border-radius: 4rem;
    margin-left: 45px;
    margin-top: 150%;
}